.lead__title {
  margin: 48px auto 0;
  width: 288px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 110%;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .lead__title {
    min-width: 720px;
    font-size: 96px;
    line-height: 104%;
  }
}

@media screen and (min-width: 1280px) {
  .lead__title {
    margin: 56px auto 0;
  }
}
