.cover__link {
  position: relative;
  text-decoration: none;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  height: calc(200 + ((320 - 100%) * -1) * 0.63);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #FFFFFF;
  z-index: 2;
}


.cover__link:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2A2C2F;
  opacity: .3;
  transition: opacity .3s ease;
}


.cover__link:hover::before {
  background: #2A2C2F;
  opacity: .8;
}

.cover__link:hover {
  opacity: 1;
}
