.root {
  color: #ffffff;
  background-color: #2A2C2F;
  font-family: 'Inter', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
}

//* {
  border: solid 1px red
}

@media screen and (min-width: 1024px) {
  .root {
    width: calc(100% - 2 * 48px);
    padding: 28px 48px 0px;
  }
}

@media screen and (min-width: 1280px) {
  .root {
    max-width: 1182px;
    width: calc(100% - 2 * 148px);
    padding: 28px 148px 0;
    margin: 0 auto;
  }
}
